<div class="summary"> 
    <div class="title"> Spain Report Summary </div>
    <div class="data-blocks-group"> 
        <div class="data-blocks"> 
            <div class="data-blocks-title"> Total Confirmed Cases </div>
            <div class="data-blocks-value"> {{ spainData.TotalConfirmed }} </div>  
        </div>
        <div class="data-blocks"> 
            <div class="data-blocks-title"> Total Recovered </div>
            <div class="data-blocks-value"> {{ spainData.TotalRecovered }} </div>  
        </div>
        <div class="data-blocks"> 
            <div class="data-blocks-title"> Total Deaths </div>
            <div class="data-blocks-value"> {{ spainData.TotalDeaths }} </div>  
        </div>  
        <hr>
        <div class="data-blocks"> 
            <div class="data-blocks-title"> New Confirmed Cases </div>
            <div class="data-blocks-value"> {{ spainData.NewConfirmed }} </div>  
        </div>  
        <div class="data-blocks"> 
            <div class="data-blocks-title"> New Recovered </div>
            <div class="data-blocks-value"> {{ spainData.NewRecovered }} </div>  
        </div>  
        <div class="data-blocks"> 
            <div class="data-blocks-title"> New Deaths </div>
            <div class="data-blocks-value"> {{ spainData.NewDeaths }} </div>  
        </div>  
    </div>
</div>
